# 1. Template provided for assignment

In [34]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        # replaced the code that's commented out below
        # the sqlite3.version and sqlite3.version_info attributes have been deprecated
        #print(sqlite3.version)
        print("Connected to SQLite database")
        print("SQLite version:", conn.execute("SELECT sqlite_version()").fetchone()[0])
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Connected to SQLite database
SQLite version: 3.46.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

# 2. My set up and play with assignment template

In [8]:
# check to make sure database file is in the working directory
!pwd

/Users/grace/Documents/GitHubRepos/springboard/SQL_Case_Study_Tier_1

In [3]:
!ls

LocalSQLConnection.py     SQLTasks Tier 1.sql       sqlite_db_pythonsqlite.db
README.md                 localsqlconnection.ipynb

In [18]:
#
# try to modify the select_all_tasks function by creating a new query that 
# returns all the field names in Facilities table 

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    # define all queries
    query1 = "SELECT * From Facilities LIMIT 2"
    query2 = "SELECT * From Bookings LIMIT 1"

    # execute and print 1st query
    cur.execute(query1)
    q1_column_names = [desc[0] for desc in cur.description] # Description is a special attribute of the cursor that contains 
                                                            # metadata about the columns in your result set. It's automatically 
                                                            # populated after you execute a query. 
                                                            # It returns a tuple of tuples, where each inner tuple describes 
                                                            # one column
    q1_result = cur.fetchall()  # retrieves all the result rows from the database server and brings them 
                                # into your Python program as a list of tuples (or rows). 
                                # Each tuple represents one row from your query results.
    print('\n') 
    print('Query 1: Column_names :') # prints the column names
    print(q1_column_names) # prints the columns
    print('Query 1: Results :') 
    print(q1_result) # prints rows of table values
    for row in q1_result:
        print(row)
    print('\n') 
    
    # execute and print 2nd query
    cur.execute(query2)
    q2_column_names = [desc[0] for desc in cur.description]
    q2_result = cur.fetchall()
    print('Query 2: Column_names :') # prints the column names
    print(q2_column_names) # prints the column names
    print('Query 2: Results :')
    print(q2_result) # prints a single row of table values
    for row in q2_result:
        print(row)

In [5]:
# play with the modified query code above on the database file
# to get a feel for how it works

if __name__ == '__main__':
    main()

Connected to SQLite database
SQLite version: 3.46.0
2. Query all tasks


Query 1: Column_names :
['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']
Query 1: Results :
[(0, 'Tennis Court 1', 5, 25, 10000, 200), (1, 'Tennis Court 2', 5, 25, 8000, 200)]
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)


Query 2: Column_names :
['bookid', 'facid', 'memid', 'starttime', 'slots']
Query 2: Results :
[(0, 3, 1, '2012-07-03 11:00:00', 2)]
(0, 3, 1, '2012-07-03 11:00:00', 2)

# 3. Assignment Responses

## Part I

Note that Part I questions Q7-Q10 are included in this notebook because my queries would not run properly when entered directly into the PHPMyAdmin portal

### Q7: Produce a list of all members who have used a tennis court.
Include in your output the name of the court, and the name of the member
formatted as a single column. Ensure no duplicate data, and order by
the member name.

In [33]:
# Q7 response

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """    
                    SELECT
                    firstname || ' ' || surname AS member,
                    name AS facility,
                    cost
                FROM (
                    SELECT
                        firstname,
                        surname,
                        name,
                        CASE
                            WHEN firstname = 'GUEST' THEN guestcost * slots
                            ELSE membercost * slots
                        END AS cost,
                        starttime
                    FROM Members
                    INNER JOIN Bookings ON Members.memid = Bookings.memid
                    INNER JOIN Facilities ON Bookings.facid = Facilities.facid
                ) AS inner_table
                WHERE starttime >= '2012-09-14'
                  AND starttime < '2012-09-15'
                  AND cost > 30
                ORDER BY Member;"""

    cur.execute(query1)
    q1result = cur.fetchall()
    for row in q1result:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Query results")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Connected to SQLite database
SQLite version: 3.46.0
Query results
('GUEST GUEST', 'Tennis Court 1', 75)
('GUEST GUEST', 'Tennis Court 1', 75)
('GUEST GUEST', 'Tennis Court 2', 75)
('GUEST GUEST', 'Tennis Court 2', 150)
('GUEST GUEST', 'Massage Room 1', 160)
('GUEST GUEST', 'Massage Room 1', 160)
('GUEST GUEST', 'Massage Room 1', 160)
('GUEST GUEST', 'Massage Room 2', 320)
('GUEST GUEST', 'Squash Court', 70.0)
('GUEST GUEST', 'Squash Court', 35.0)
('GUEST GUEST', 'Squash Court', 35.0)
('Jemima Farrell', 'Massage Room 1', 39.6)

### Q8: Produce a list of bookings on the day of 2012-09-14 
which will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries.

In [32]:
# Q8 answer
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """    SELECT name, firstname, surname,
        CASE
            WHEN firstname = 'GUEST' THEN (guestcost * slots)
            ELSE (membercost * slots)
        END AS cost
    FROM Bookings AS b
    LEFT JOIN Facilities AS f ON f.facid = b.facid
    LEFT JOIN Members as m USING (memid) 
    WHERE b.starttime BETWEEN '2012-09-14 00:00:00' AND '2012-09-14 23:59:59'
        AND cost > 30;"""

    cur.execute(query1)
    q1result = cur.fetchall()
    for row in q1result:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Query results")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Connected to SQLite database
SQLite version: 3.46.0
Query results
('Tennis Court 1', 'GUEST', 'GUEST', 75)
('Tennis Court 1', 'GUEST', 'GUEST', 75)
('Tennis Court 2', 'GUEST', 'GUEST', 75)
('Tennis Court 2', 'GUEST', 'GUEST', 150)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Massage Room 1', 'Jemima', 'Farrell', 39.6)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Massage Room 2', 'GUEST', 'GUEST', 320)
('Squash Court', 'GUEST', 'GUEST', 70.0)
('Squash Court', 'GUEST', 'GUEST', 35.0)
('Squash Court', 'GUEST', 'GUEST', 35.0)

### Q9: This time, produce the same result as in Q8, but using a subquery.

In [29]:
# Q9 Code

import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        # replaced the code that's commented out below
        # the sqlite3.version and sqlite3.version_info attributes have been deprecated
        #print(sqlite3.version)
        print("Connected to SQLite database")
        print("SQLite version:", conn.execute("SELECT sqlite_version()").fetchone()[0])
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """    SELECT 
        (SELECT name FROM Facilities WHERE facid = b.facid) AS name,
        (SELECT firstname FROM Members WHERE memid = b.memid) AS firstname,
        (SELECT surname FROM Members WHERE memid = b.memid) AS surname, 
        CASE
            WHEN (SELECT firstname FROM Members WHERE memid = b.memid) = 'GUEST' 
            THEN (SELECT guestcost FROM Facilities WHERE facid = b.facid) * b.slots
            ELSE (SELECT membercost FROM Facilities WHERE facid = b.facid) * b.slots
        END AS cost
    FROM Bookings b
    WHERE b.starttime BETWEEN '2012-09-14 00:00:00' AND '2012-09-14 23:59:59'
        AND (CASE
                WHEN (SELECT firstname FROM Members WHERE memid = b.memid) = 'GUEST' 
                THEN (SELECT guestcost FROM Facilities WHERE facid = b.facid) * b.slots
                ELSE (SELECT membercost FROM Facilities WHERE facid = b.facid) * b.slots
            END
            ) > 30;"""
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Connected to SQLite database
SQLite version: 3.46.0
2. Query all tasks
('Tennis Court 1', 'GUEST', 'GUEST', 75)
('Tennis Court 1', 'GUEST', 'GUEST', 75)
('Tennis Court 2', 'GUEST', 'GUEST', 75)
('Tennis Court 2', 'GUEST', 'GUEST', 150)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Massage Room 1', 'Jemima', 'Farrell', 39.6)
('Massage Room 1', 'GUEST', 'GUEST', 160)
('Massage Room 2', 'GUEST', 'GUEST', 320)
('Squash Court', 'GUEST', 'GUEST', 70.0)
('Squash Court', 'GUEST', 'GUEST', 35.0)
('Squash Court', 'GUEST', 'GUEST', 35.0)

### Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

Draft query and test it in PHP platform until it works:

SELECT name, 
    SUM(
        CASE
            WHEN firstname = 'GUEST' THEN (guestcost * slots)
            ELSE (membercost * slots)
        END 
    ) AS total_rev
FROM Facilities AS f
LEFT JOIN Bookings AS b ON f.facid = b.facid
LEFT JOIN Members AS m ON m.memid = b.memid
GROUP BY name
HAVING SUM(
        CASE
            WHEN firstname = 'GUEST' THEN (guestcost * slots)
            ELSE (membercost * slots)
        END 
    )<1000
ORDER BY total_rev DESC;

In [23]:
# Q10 response
# Plug the query into the select_all_tasks function

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    # define all queries
    query1 = """
SELECT name, SUM( CASE WHEN firstname = 'GUEST' THEN (guestcost * slots) ELSE (membercost * slots) END ) AS total_rev FROM Facilities AS f LEFT JOIN Bookings AS b ON f.facid = b.facid LEFT JOIN Members AS m ON m.memid = b.memid GROUP BY name HAVING SUM( CASE WHEN firstname = 'GUEST' THEN (guestcost * slots) ELSE (membercost * slots) END )<1000 ORDER BY total_rev DESC;
        """    
    # execute and print 1st query
    cur.execute(query1)
    q1_column_names = [desc[0] for desc in cur.description] # Description is a special attribute of the cursor that contains 
                                                            # metadata about the columns in your result set. It's automatically 
                                                            # populated after you execute a query. 
                                                            # It returns a tuple of tuples, where each inner tuple describes 
                                                            # one column
    q1_result = cur.fetchall()  # retrieves all the result rows from the database server and brings them 
                                # into your Python program as a list of tuples (or rows). 
                                # Each tuple represents one row from your query results.
    print('\n') 
    print('Query 1: Results :') 
   #  print(q1_result) # prints rows of table values on a single line
    for row in q1_result: # print each row of table on a new line
        print(row)
    print('\n') 

def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Connected to SQLite database
SQLite version: 3.46.0
2. Query all tasks


Query 1: Results :
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

## Part 2

### Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [39]:
# Q11 response
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT firstname, surname 
    FROM Members
    WHERE recommendedby IS NOT NULL
    ORDER BY surname, firstname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Connected to SQLite database
SQLite version: 3.46.0
2. Query all tasks
('Florence', 'Bader')
('Anne', 'Baker')
('Timothy', 'Baker')
('Tim', 'Boothe')
('Gerald', 'Butters')
('Joan', 'Coplin')
('Erica', 'Crumpet')
('Nancy', 'Dare')
('David', 'Farrell')
('Jemima', 'Farrell')
('GUEST', 'GUEST')
('Matthew', 'Genting')
('John', 'Hunt')
('David', 'Jones')
('Douglas', 'Jones')
('Janice', 'Joplette')
('Anna', 'Mackenzie')
('Charles', 'Owen')
('David', 'Pinker')
('Millicent', 'Purview')
('Tim', 'Rownam')
('Henrietta', 'Rumney')
('Ramnaresh', 'Sarwin')
('Darren', 'Smith')
('Darren', 'Smith')
('Jack', 'Smith')
('Tracy', 'Smith')
('Ponder', 'Stibbons')
('Burton', 'Tracy')
('Hyacinth', 'Tupperware')
('Henry', 'Worthington-Smyth')

### Q12: Find the facilities with their usage by member, but not guests

In [48]:
# Q12 response
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT f.name, COUNT(b.bookid)
    FROM Facilities as f
    INNER JOIN Bookings as b ON b.facid = f.facid
    INNER JOIN Members as m ON m.memid = b.memid
    WHERE m.firstname != 'GUEST'
    GROUP BY f.name
    ORDER BY COUNT(b.bookid) DESC;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Connected to SQLite database
SQLite version: 3.46.0
2. Query all tasks
('Pool Table', 783)
('Snooker Table', 421)
('Massage Room 1', 421)
('Table Tennis', 385)
('Badminton Court', 344)
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Squash Court', 195)
('Massage Room 2', 27)

### Q13: Find the facilities usage by month, but not guests

In [53]:
# Q13 response
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    SELECT strftime('%Y', b.starttime) AS year, strftime('%m', b.starttime) AS month, f.name, COUNT(b.bookid)
    FROM Facilities as f
    INNER JOIN Bookings as b ON b.facid = f.facid
    INNER JOIN Members as m ON m.memid = b.memid
    WHERE m.firstname != 'GUEST'
    GROUP BY f.name, year, month
    ORDER BY COUNT(b.bookid) DESC;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Connected to SQLite database
SQLite version: 3.46.0
2. Query all tasks
('2012', '09', 'Pool Table', 408)
('2012', '08', 'Pool Table', 272)
('2012', '09', 'Snooker Table', 199)
('2012', '09', 'Table Tennis', 194)
('2012', '09', 'Massage Room 1', 191)
('2012', '09', 'Badminton Court', 161)
('2012', '08', 'Snooker Table', 154)
('2012', '08', 'Massage Room 1', 153)
('2012', '08', 'Table Tennis', 143)
('2012', '08', 'Badminton Court', 132)
('2012', '09', 'Tennis Court 1', 132)
('2012', '09', 'Tennis Court 2', 126)
('2012', '08', 'Tennis Court 1', 111)
('2012', '08', 'Tennis Court 2', 109)
('2012', '07', 'Pool Table', 103)
('2012', '09', 'Squash Court', 87)
('2012', '08', 'Squash Court', 85)
('2012', '07', 'Massage Room 1', 77)
('2012', '07', 'Snooker Table', 68)
('2012', '07', 'Tennis Court 1', 65)
('2012', '07', 'Badminton Court', 51)
('2012', '07', 'Table Tennis', 48)
('2012', '07', 'Tennis Court 2', 41)
('2012', '07', 'Squash Court', 23)
('2012', '09', 'Massage Room 2', 14)
('2012', '08', 'Massage Room 2', 9)
('2012', '07', 'Massage Room 2', 4)